
@model Toilet_Clicker.Models.Locations.LocationDetailsViewModel

<h1> @Html.DisplayFor(model => model.LocationName) </h1>

<div>
	<h4> Let this location be researched : </h4>
	<hr />
	<dl class="row">
		<div class="form-group row">
			<label asp-for="ID" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.ID)
		</div>
		<div class="form-group row">
			<label asp-for="LocationName" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.LocationName)
		</div>
		<div>
			<div id="imagediv"></div>
			@foreach (var image in Model.Image)
			{
				<partial name="_Images" model="image" />
			}
		</div>
		<div class="form-group row">
			<label asp-for="LocationType" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.LocationType)
		</div>
		<div class="form-group row">
			<label asp-for="LocationDescription" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.LocationDescription)
		</div>
		<div class="form-group row">
			<label asp-for="LocationWasMade" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.LocationWasMade)
		</div>
		@* Display type with image instead
		<div class="form-group row">
		<label asp-for="ToiletWasBorn" class="col-sm-2 col-form-label"></label>
		@Html.DisplayFor(model => model.ToiletWasBorn)
		</div>*@

	</dl>

	<a asp-action="Index" asp-controller="locations" class="btn btn-secondary">Index</a>
</div>