@model Toilet_Clicker.Models.Toilets.ToiletDeleteViewModel

<h1> @Html.DisplayFor(model => model.ToiletName) </h1>

<div>
	<h4> My lord, thyne toilet, plezzz ): DIE : </h4>
	<hr />
	<dl class="row">
		<div class="form-group row">
			<label asp-for="ID" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.ID)
		</div>
		<div class="form-group row">
			<label asp-for="ToiletName" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.ToiletName)
		</div>
		<div>
			<div id="imagediv"></div>
			@foreach (var image in Model.Image)
			{
				<partial name="_Images" model="image" />
			}
		</div>
		<div class="form-group row">
			<label asp-for="Power" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Power)
		</div>
		<div class="form-group row">
			<label asp-for="PowerPrice" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.PowerPrice)
		</div>
		<div class="form-group row">
			<label asp-for="Speed" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Speed)
		</div>
		<div class="form-group row">
			<label asp-for="SpeedPrice" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.SpeedPrice)
		</div>
		<div class="form-group row">
			<label asp-for="Score" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Score)
		</div>
		<div class="form-group row">
			<label asp-for="Location" class="col-sm-2 col-form-label"></label>
			@if (Model.Location != null)
			{
				@Html.DisplayFor(model => model.Location.LocationName)
			}
			else
			{
				<span>No location assigned</span>
			}
		</div>
		<div class="form-group row">
			<label asp-for="ToiletWasBorn" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.ToiletWasBorn)
		</div>

	</dl>
	<form asp-action="DeleteConfirmation">
		<input type="hidden" asp-for="ID" />
		<input type="submit" value="Delete" class="btn btn-danger" />
		<a asp-action="Index" asp-controller="toilets" class="btn btn-secondary">Index</a>
	</form>

	
</div>