@using Toilet_Clicker.Core.Domain
@model IEnumerable<Toilet_Clicker.Models.Toilets.ToiletIndexViewModel>

	@{ int rowNumber = 1; }
	<div>
		<a asp-action="Add" asp-controller="Toilets" type="submit" class="btn btn-primary">Go on a mission for a new toilet</a>
		<a asp-action="Create" asp-controller="Toilets" class="btn btn-primary">Create a new toilet</a>
	</div>
	@* User can go on mission using ADD function, to obtain a new toilet. In controller, this is called "PlayerSoloMission" *@

	<div class="h1">Your Toilets:</div>
	<form method="post">
		<table class="table table-hover">
			<thead>
				<tr>
					@* later, once images have been implemented, add image here as well *@
					<th scope="col">#</th>
					<th scope="col">ToiletName</th>
					<th scope="col">Score</th>
					<th scope="col">Power</th>
					<th scope="col">Speed</th>
					<th scope="col">Toilet was born at</th>
					<th scope="col">Admin actions</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var toilet in Model)
			{
				<tr>
					@* later, once images have been implemented, add image here as well *@
					<td>@rowNumber</td>
					<td>@toilet.ToiletName</td>
					<td>@toilet.Score</td>
					<td>@toilet.Power</td>
					<td>@toilet.Speed</td>
					<td>@toilet.ToiletWasBorn</td>
					<td>
						<a asp-action="details" asp-controller="toilets" asp-route-id="@toilet.ID" class="btn btn-info">ToiletDetails</a>
						<br />
						<a asp-action="update" asp-controller="toilets" asp-route-id="@toilet.ID" class="btn btn-info">ToiletConfigure</a>
						<br />
						<a asp-action="delete" asp-controller="toilets" asp-route-id="@toilet.ID" class="btn btn-info">ToiletDelete</a>
					</td>
				</tr>
				rowNumber++;
			}
		</tbody>
		</table>
	</form>
	@* Missing button for player profile *@
	@* Missing button for player activity history *@