@model Toilet_Clicker.Models.Toilets.ToiletDetailsViewModel

<h1> @Html.DisplayFor(model => model.ToiletName) </h1>

<div>
	<h4> Click the toilet and upgrade : </h4>
	<hr />
	<dl class="row">
		<div id="imagediv">
			@foreach (var image in Model.Image)
			{
				<partial name="_Images" model="image" />
				break;
			}
		</div>
		<div>
			<form asp-action="click" asp-controller="toilets" method="post">
				<input type="hidden" name="id" value="@Model.ID" />
				<button type="submit" class="btn btn-primary" style="width:200px; height:120px; padding:50px">
					[Click here]
				</button>
			</form>
		</div>
		<div class="form-group row">
			<label asp-for="Score" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Score)
		</div>
		<div class="form-group row">
			<label asp-for="Power" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Power)
		</div>
		<div class="form-group row">
			<label asp-for="Speed" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Speed)
		</div>
	</dl>

	<div>
		<form asp-action="upgradepower" asp-controller="toilets" method="post">
			<input type="hidden" name="id" value="@Model.ID" />
			<button type="submit" class="btn btn-primary">
				Upgrade power
			</button>
		</form>
		<label asp-for="PowerPrice" class="col-sm-1 col-form-label">Power price:</label>
		@Html.DisplayFor(model => model.PowerPrice)
		<span>&nbsp;&nbsp;&nbsp;(Power makes clicks give more score)</span>
	</div>
	<div style="margin-top:11px">
		<form asp-action="upgradespeed" asp-controller="toilets" method="post">
			<input type="hidden" name="id" value="@Model.ID" />
			<button type="submit" class="btn btn-primary">
				Upgrade speed
			</button>
		</form>
		<label asp-for="SpeedPrice" class="col-sm-1 col-form-label">Speed price:</label>
		@Html.DisplayFor(model => model.SpeedPrice)
		<span>&nbsp;&nbsp;&nbsp;(Speed gives score based on speed level for each second)</span>
	</div>
	<div style="margin-top:11px"><a asp-action="Index" asp-controller="toilets" class="btn btn-secondary">Index</a></div>
</div>